/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
}
ul,
li {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}

/* GENERAL */
body {
  font-family: "Montserrat", sans-serif;
  font-size: 1em;
  background-color: #f3f3f3;
  color: #212529;
}

/* HEADER */
header {
  background-color: white;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
  z-index: 10;
}
nav ul a li {
  display: flex;
  align-items: center;
  height: 100%;
  font-weight: 700;
  color: #212529;
  margin: 0 10px;
  padding: 15px 5px;
  border-bottom: 3px solid transparent;
}
nav ul.icons a li {
  font-size: 1.4rem;
}
nav ul a li:hover {
  color: #015cb8;
  border-bottom: 3px solid #015cb8;
  transition-duration: 0.3s;
}

/* HERO */
.class3Hero {
  padding-top: 60px;
  position: relative;
  height: 700px;
  overflow: hidden;
}
.class3Hero video {
  filter: brightness(0.6);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.class3Hero .content {
  color: white;
  position: relative;
  z-index: 1;
}
.class3Hero .content h1 {
  font-size: 5rem;
  font-weight: 900;
  color: #004e9e;
  -webkit-text-stroke-width: 3px;
  -webkit-text-stroke-color: rgb(255, 255, 255);
}
.class3Hero .content h2 {
  font-size: 2.9rem;
  font-weight: 700;
}
.class3Hero .content form {
  margin-top: 10px;
  width: 100%;
  max-width: 500px;
}
.class3Hero .content form input {
  font-size: 1.2rem;
  padding: 12px 20px;
}
.class3Hero .logo img {
  margin-right: 30px;
  width: 200px;
  filter: invert(1);
}

/* MAIN */
main#app {
  padding: 20px 0;
}
main#app section {
  padding: 100px 0;
}
main#app section:first-child {
  padding: 20px 0;
  margin-bottom: -30px;
}
main#app section h2 {
  font-size: 2.5rem;
  font-weight: 700;
}
main#app section.even {
  color: black;
  background-color: #006dda;
}
main#app section a {
  width: calc(100% / 4 - 20px);
  margin: 0 10px;
  margin-bottom: 20px;
}
main#app section .filter-container a.filter {
  display: block;
  color: white;
  width: calc(100% / 4 - 40px);
  height: 230px;
  margin: 0 20px;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.171);
}
main#app section .filter-container a.filter:hover h2 {
  color: black;
  transition-duration: 0.3s;
  text-shadow: none;
}
main#app section .filter-container a.filter:hover img {
  filter: opacity(0.4);
  transition-duration: 0.3s;
}
main#app section .filter-container a.filter h2 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 1.2rem;
  z-index: 1;
  text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.8);
}
main#app section .filter-container a.filter img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
main#app section .card {
  background-color: rgba(255, 255, 255, 0);
  border: 0;
}
main#app section .card:hover {
  color: #015cb8;
  transition-duration: 0.3s;
}
main#app section .card:hover .container-img img {
  filter: opacity(0.8);
  transition-duration: 0.3s;
}
main#app section .card .container-img {
  background-color: white;
  height: 300px;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0px 4px 5px 0px rgb(0 0 0 / 14%);
}
main#app section .card .container-img img {
  height: 100%;
  object-fit: contain;
  object-position: center;
}
main#app section .card .card-body h5.card-title {
  font-size: 1.2rem;
  font-weight: 600;
  margin-bottom: -1px;
}
main#app section .card .card-body p.info {
  font-size: 0.8rem;
  font-style: italic;
  line-height: 1;
}
main#app section .card .card-body span.price {
  color: #015cb8;
  font-weight: 600;
}
main#app section.even .card .card-body span.price,
main#app section.even .card .card-body {
  color: white;
}

/* FOOTER */
footer {
    color: white;
  padding: 30px 0;
  background-color: #0458ad;
}
footer .contact {
  height: 60px;
  margin-top: -30px;
  margin-bottom: 30px;
  color: white;
  background-color: #222222;
}
footer .contact a {
  color: white;
  text-decoration: underline;
}
