/* HEADER */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
}

body {
  font-family: "Montserrat", sans-serif;
  font-size: 1em;
  background-color: white;
}

/* HERO */
.class3Hero {
  position: relative;
  height: 700px;
  width: 100%;
  overflow: hidden;
}
.class3Hero video {
  filter: brightness(0.6);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.class3Hero .content {
  color: white;
  position: relative;
  z-index: 1;
}
.class3Hero .content h1 {
  font-size: 5rem;
  font-weight: 900;
  color: #004e9e;
  -webkit-text-stroke-width: 3px;
  -webkit-text-stroke-color: rgb(255, 255, 255);
}
.class3Hero .content h2 {
  font-size: 3rem;
  font-weight: 700;
}
.class3Hero .content form {
    margin-top: 10px;
  width: 100%;
  max-width: 500px;
}
.class3Hero .content form input {
    font-size: 1.2rem;
    padding: 12px 20px;
}
.class3Hero .logo img {
  margin-right: 30px;
  width: 200px;
  filter: invert(1);
}

/* FOOTER */
